*{
    font-size: 18px;
}

.mainBody{
    box-sizing: border-box;
    margin: 0 auto 0;
    padding: 40px;
    width: 1000px;
    height: 330px;
    /*background-color:white;*/
    /*box-shadow: darkgrey 0 0 30px 5px;*/
    border-radius: 3px;
}


.title{
    font-size: 30px;
}

.item{
    margin-top: 20px;
    margin-bottom: 20px;
}
.label{
    /*background-color: black;*/
    vertical-align: top!important;
    width: 200px;
    text-align: right;
}

.picture{
    height: 250px;
    width: auto;
}

.label2{
    vertical-align: top!important;
    width: 120px;
    text-align: right;
}
.resume{
    /*background-color:dimgray;*/
    vertical-align: top;
    width: 60%!important;
}
.icon{
    height: 25px;
    width: auto;
}

.img{
    height: 250px;
    width: auto;
}