<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>myCourse</title>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/myCourse.css">
</head>
<body>
<div class="nav"></div>
<script>
    $(".nav").load("/component/navigationBar");
</script>
<div class="layui-main myCourseBody">
    <div class="purchased">
        <div class="coursesTitle layui-inline">已购课程</div>
        <!--<button class="layui-btn test1">调试用</button>-->
        <!--<button class="layui-btn test2">调试用</button>-->
        <hr>
        <div class="purchasedClasses" id="purchasedClasses" th:fragment="purchasedClasses">
            <div class="display2 layui-inline" th:each="task:${tasks}">
                <a th:href="@{'/getSectionInfo?secId='+${task.secId}}">
                    <div class="cover">
                        <img height="100%" width="auto" th:src="@{'/downloadSectionImage?secId='+${task.secId}}">
                    </div>
                </a>
                <div class="title">
                    <a th:href="@{'/getSectionInfo?secId='+${task.secId}}">
                        <div class="courseName" th:text="${task.title}">课程名称</div>
                    </a><br>
                    <p class="courseInfo">
                        <a th:href="@{'/getTeacherInfo?teaName='+${task.teaName}}">
                            <span class="teacherName" th:text="${task.teaName}">任课老师</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="page" id="purchasedPage"></div>
    </div>

    <div class="myClass">
        <div class="coursesTitle layui-inline">我开的课程</div>
        <!--<button class="layui-btn test">调试用</button>-->
        <hr>
        <div class="myClasses" id="myClass" th:fragment="myClass">
            <div class="display3 layui-inline" th:each="section:${sections}">
                <a th:href="@{'/getSectionInfo?secId='+${section.secId}}">
                    <div class="cover">
                        <img height="100%" width="auto" th:src="@{'/downloadSectionImage?secId='+${section.secId}}">
                    </div>
                </a>
                <div class="title">
                    <a th:href="@{'/getSectionInfo?secId='+${section.secId}}">
                        <div class="courseName" th:text="${section.title}">课程名称</div>
                    </a><br>
                    <p class="courseInfo">
                        <a  th:href="@{'/getTeacherInfo?teaName='+${section.teaName}}">
                            <span class="teacherName" th:text="${section.teaName}">任课老师</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="page" id="myClassPage"></div>


    <div class="myApply">
        <div class="coursesTitle layui-inline">待审核课程</div>
        <!--<button class="layui-btn test">调试用</button>-->
        <hr>
        <div class="myApplys" id="myApply" th:fragment="myApply">
            <div class="display3 layui-inline" th:if="${appliedSection}!=null">
                <a th:href="@{'/giveCourse?secId='+${appliedSection.secId}}">
                    <div class="cover">
                        <img height="100%" width="auto" th:src="@{'/downloadSectionImage?secId='+${appliedSection.secId}}">
                    </div>
                </a>
                <div class="title">
                    <a th:href="@{'/giveCourse?secId='+${appliedSection.secId}}">
                        <div class="courseName" th:text="${appliedSection.title}">课程名称</div>
                    </a><br>
                    <p class="courseInfo">
                        <a  th:href="@{'/getTeacherInfo?teaName='+${appliedSection.teaName}}">
                            <span class="teacherName" th:text="${appliedSection.teaName}">任课老师</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="page" id="myApplyPage"></div>-->
</div>
    <div class="bottom" style="height: 300px;"></div>
</body>
<script src="/js/userFunction/myCourse.js"></script>
<script th:inline="javascript">
    layui.use('element', function () {
        var element = layui.element;

        $(".layui-nav-bar").hide();//将导航栏下面的滑块隐藏
    });
    init([[${tasks.getTotalElements()}]],[[${sections.getTotalElements()}]]);
</script>
</html>